@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Outfit;
}

body{
  min-height: 100vh;
  background-color: #fcfcfc;
}
a{
  color: inherit;
  text-decoration: none;
}
hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}
.app-content{
  display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cursor{
  cursor: pointer; 
    width: 40px;
    padding: 10px;
    border: none;
    background-color: rgb(218, 79, 125);
    color: white;
    font-size: 8px;
    font-weight: bold;
    border-radius: 3px;
    border-color: black;
}
.cursor:hover{
  background-color: rgba(8, 8, 8, 0.8);
  color: white;
}