.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
.navbar .logo{
    width: 150px;
    font-size: 24px;
    font-weight: bold;
}
.navbar-menu{
    display: flex;
    gap: 20px;
    list-style: none;
    color: grey;
    font-size: 18px;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
    
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid  rgb(218, 79, 125);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer ;
    transition: all 0.3s ease;
}
.navbar button:hover{
    background-color:  rgb(218, 79, 125);
    color: white;
    border: 1px solid  rgb(218, 79, 125);
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49577e;
}  

.navbar li{
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;

}
.navbar-search-icon .dot{
    position: absolute;
    min-height: 10px;
    min-width: 10px;
    background-color: rgb(218, 79, 125);
    border-radius: 5px;
    top: -8px;
    right: -8px;
}
@media (max-width: 1050px){
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        font-size: 17px;
        gap: 20px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}

@media (max-width: 900px){
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        font-size: 16px;
        gap: 15px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}
@media (max-width: 750px){
    .navbar-menu{
        display: none;
    }
}