.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}
.place-order-left{
    width: 100%;
    max-width: max(30%, 500px);
}
.place-order-left .title{
    font-size: 40px;
    font-weight: 800px;
    align-items: center;
    margin-bottom: 50px;
}
.place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border-color: black;
    border: 1px solid #c0bfbf;
    border-radius: 4px;
    outline-color:  rgb(218, 79, 125);
}
.place-order-left .multi-fields{
    display: flex;
    gap: 10px;
}
.place-order-right{
    width: 100%;
    max-width: max(40%, 500px);
    border-radius: 4px;
    transition: all 0.5s ease;
    padding: 10px 0px;
    animation: fadeIn 0.5s ease;
}
.place-order-right button{
    width: 100%;
    padding: 15px 0px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.place-order-right button:hover{
    background-color: rgb(218, 79, 125);
    color: white;
    border: none;
}
.place-order .cart-total button{
    margin-top: 30px;
}